<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApeRadar.Properties.UserConfirmationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ApeRadar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApeRadar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ApeRadar.Properties.UserConfirmationSettings>
            <setting name="UserTermsAgreed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextOutputUnlocked" serializeAs="String">
                <value>False</value>
            </setting>
        </ApeRadar.Properties.UserConfirmationSettings>
        <ApeRadar.Properties.Settings>
            <setting name="SettingsUpgradeDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>AUTO</value>
            </setting>
            <setting name="SecondaryServerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecondaryServer" serializeAs="String">
                <value>EU</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>AUTO</value>
            </setting>
            <setting name="ShipNameLanguage" serializeAs="String">
                <value>AUTO</value>
            </setting>
            <setting name="MaximumRetryAttemptsOnError" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CheckForUpdatesOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorStyle" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ApeIcon" serializeAs="String">
                <value>🐵</value>
            </setting>
            <setting name="UnicumIcon" serializeAs="String">
                <value>🏅</value>
            </setting>
            <setting name="HiddenIcon" serializeAs="String">
                <value>🚫</value>
            </setting>
            <setting name="WatchIcon" serializeAs="String">
                <value>⚠️</value>
            </setting>
            <setting name="AccountWinrateVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WeightedWinrateVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShipWinrateVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TagVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccountAvgExpVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShipAvgExpVisibility" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ShipAvgDmgVisibility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerColumnFontSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="StatisticsColumnFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="DetailedStatisticsFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="OutputTextFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="EnemiesDisplayMirrored" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerListSortBy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerNamesVisibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WinrateChartType" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WinrateTypeUsed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApeWinrateThreshold" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="ApeBattleCountThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UnicumWinrateThreshold" serializeAs="String">
                <value>58</value>
            </setting>
            <setting name="UnicumBattleCountThreshold" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WeightedWinrateAccountSoloWeightMultiplier" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WeightedWinrateAccountDiv2WeightMultiplier" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WeightedWinrateAccountDiv3WeightMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WeightedWinrateShipMaxWeight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="WeightedWinrateShipBattlesAtMaxWeight" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="OutputTextTemplateGeneralStatistics" serializeAs="String">
                <value>我方上等马：{AllyUnicumList}。我方下等马：{AllyApeList}。我方隐藏马：{AllyHiddenList}。敌方上等马：{EnemyUnicumList}。敌方下等马：{EnemyApeList}。敌方隐藏马：{EnemyHiddenList}。战绩插件加群1012624096。</value>
            </setting>
            <setting name="OutputTextDelimiter" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputTextShortMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputTextExcludeSelf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputTextUnlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputTextAutoCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputTextTemplateParticularPlayerStatistics"
                serializeAs="String">
                <value>{ClanTag} {PlayerName}（{ShipName}），账号{AccountBattles}场 {AccountWinrate}胜率，单船{ShipBattles}场 {ShipWinrate}胜率 {ShipAvgDmg}场均。战绩插件加群1012624096。</value>
            </setting>
            <setting name="APITypeSelection" serializeAs="String">
                <value>VORTEX</value>
            </setting>
            <setting name="YuyukoAPIPushEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
        </ApeRadar.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ApeRadar.Properties.Settings>
            <setting name="SoftwareVersion" serializeAs="String">
                <value>2.1.0</value>
            </setting>
            <setting name="SoftwareDate" serializeAs="String">
                <value>20230624</value>
            </setting>
        </ApeRadar.Properties.Settings>
    </applicationSettings>
</configuration>